%% weight Systematics

  % QCD %

  Systematic: "weight_QCD_SCALE"
    Title: "weight_QCD_SCALE"
    Type: HISTO
    Samples: ZZ4l
    Regions: ZZ4l_CR, Zprime_SR
    NtuplePathsUp: "{p_ntuple_path}"
    NtuplePathsDown: "{p_ntuple_path}"
    NtupleFilesUp: "bkg_qcd"
    NtupleFilesDown: "bkg_qcd"
    NtupleNameUp: "ntup"
    NtupleNameDown: "ntup"
    Symmetrisation: TWOSIDED
    WeightUp: weight_qcd_scale_up_{p_qcd_var}
    WeightDown: weight_qcd_scale_down_{p_qcd_var}

  % Systematic: "weight_QCD_SCALE"
  %   Title: "weight_QCD_SCALE"
  %   Type: HISTO
  %   Samples: Zprime
  %   Regions: ZZ4l_CR, Zprime_SR
  %   NtuplePathsUp: "{p_ntuple_path}"
  %   NtuplePathsDown: "{p_ntuple_path}"
  %   NtupleFilesUp: "sig_Zp{p_mass:03d}"
  %   NtupleFilesDown: sig_Zp{p_mass:03d}
  %   NtupleNameUp: "ntup"
  %   NtupleNameDown: "ntup"
  %   Symmetrisation: TWOSIDED
  %   WeightUp: weight_qcd_scale_up_{p_qcd_var}
  %   WeightDown: weight_qcd_scale_down_{p_qcd_var}

  % PDF %

  Systematic: "weight_PDF_UP"
    Title: "weight_PDF_UP"
    Type: HISTO
    Samples: ZZ4l
    Regions: ZZ4l_CR, Zprime_SR
    NtuplePathsUp: "{p_ntuple_path}"
    NtupleFilesUp: "bkg_qcd"
    NtupleNameUp: "ntup"
    Symmetrisation: ONESIDED
    WeightUp: weight_pdf_up_{p_qcd_var}
  
  % Systematic: "weight_PDF_UP"
  %   Title: "weight_PDF_UP"
  %   Type: HISTO
  %   Samples: Zprime
  %   Regions: ZZ4l_CR, Zprime_SR
  %   NtuplePathsUp: "{p_ntuple_path}"
  %   NtupleFilesUp: "sig_Zp{p_mass:03d}"
  %   NtupleNameUp: "ntup"
  %   Symmetrisation: ONESIDED
  %   WeightUp: weight_pdf_up_{p_qcd_var}

  % Alpha S %

  Systematic: "weight_ALPHA_S_UP"
    Title: "weight_ALPHA_S_UP"
    Type: HISTO
    Samples: ZZ4l
    Regions: ZZ4l_CR, Zprime_SR
    NtuplePathsUp: "{p_ntuple_path}"
    NtupleFilesUp: "bkg_qcd"
    NtupleNameUp: "ntup"
    Symmetrisation: ONESIDED
    WeightUp: weight_alpha_s_up_{p_qcd_var}
  
  % Systematic: "weight_ALPHA_S_UP"
  %   Title: "weight_ALPHA_S_UP"
  %   Type: HISTO
  %   Samples: Zprime
  %   Regions: ZZ4l_CR, Zprime_SR
  %   NtuplePathsUp: "{p_ntuple_path}"
  %   NtupleFilesUp: "sig_Zp{p_mass:03d}"
  %   NtupleNameUp: "ntup"
  %   Symmetrisation: ONESIDED
  %   WeightUp: weight_alpha_s_up_{p_qcd_var}


%% p4 Systematics

