% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "Zprime_4mu042_dnn_p50"
  CmeLabel: "13 TeV"
  POI: "g"
  ReadFrom: NTUP
  NtuplePaths: "/data/zprime/ntuples/fit_ntup/run2"
  Label: "Four Muon"
  LumiLabel: "140.0 fb^{-1}"    % data17?
  MCweight: "weight"
  Lumi: 140
  % Selection: "quadtype==2"
  % PlotOptions: "NORMSIG"
  NtupleName: "ntup"
  DebugLevel: 2
  MCstatThreshold: 5%
  % MergeUnderOverFlow: TRUE
  %SystControlPlots: TRUE
  % SystErrorBars: TRUE
  HistoChecks: NOCRASH
  % StatOnly: TRUE
  SplitHistoFiles: TRUE   % set this in order to have separated .root files in Histograms/ for different regions
  ImageFormat: "png","pdf"
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitRegion: CRSR
  FitType: SPLUSB
  POIAsimov: 0
  FitBlind: TRUE
  doLHscan: "g"

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  SignalInjection: FALSE
  SignalInjectionValue: 1.0


% -------------------- %
% --- Significance --- %
% -------------------- %
Significance: "significance"
  SignificanceBlind: TRUE
  POIAsimov: 1


% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "ZZ4l_CR"
  Type: CONTROL
  %Selection: "EtaJ1xJ2<0. && MJJ>0. && !(MJJ>300. && abs(dEtaJJ)>2.)"
  Selection: "(mz1 > 46.32431 || mz1 < 37.67569) && dnn_out > 0.5"
  Variable: "mz1",10,0,80
  VariableTitle: "mz1"
  Label: "Control Region"
  ShortLabel: "CR,4muon"
  %Binning: -1,-0.75,-0.5,-0.25,1.0
  % SkipSmoothing: TRUE
  % LogScale: TRUE

Region: "Zprime_42GeV_SR"
  Type: SIGNAL
  %Selection: "EtaJ1xJ2<0. && MJJ>300. && abs(dEtaJJ)>2. "
  Selection: "mz1 > (37.67569) && mz1 < (46.32431) && dnn_out > 0.5"
  Variable: "mz1",5,37.67569,46.32431
  VariableTitle: "mz1"
  Label: "Signal Region"
  ShortLabel: "SR,4muon"
  % NtuplePathSuff: "ge6jge4b"
  % Binning: -1,-0.9,-0.6,-0.4,-0.2,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0
  % BinWidth: 300
  % SkipSmoothing: TRUE
  % LogScale: TRUE

% --------------- %
% --- SAMPLES --- %
% --------------- %

%Sample: "Data"
%  Title: "Data"
%  Type: DATA
%  NtupleFile: "tree_data17"

Sample: "Zprime"
  Type: SIGNAL
  Title: "Zprime"
  FillColor: 2
  LineColor: 2
  NtupleFile: "sig_Zp042"
  %NormFactor: "muZprime",1,-10,100
  MCweight: 1

Sample: "ZZ4l"
  Type: BACKGROUND
  Title: "ZZ4l"
  FillColor: 4
  LineColor: 4
  NtupleFile: "bkg_qcd"
  MCweight: 1

%Sample: "DD"
%  Type: BACKGROUND
%  Title: "DD"
%  FillColor: 434
%  LineColor: 434
%  NtupleFile: "tree_DD"
%  MCweight: 1.0
%  NormalizedByTheory: FALSE

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "g"
  Title: "#sigma(fb)"
   Nominal: 1
   Min: 0
   Max: 3
   Samples: Zprime

NormFactor: "muZZ4l"
  Title: "#mu (ZZ4l)"
  Min: 0
  Max: 10
  Nominal: 1
  % Constant: TRUE
  Samples: ZZ4l

% NormFactor: "muLumi"
%   Title: "Lumi Scale"
%   Min: 0
%   Max: 100
%   Nominal: 1
%   Constant: TRUE
%   Samples: all


% --------------- %
% - SYSTEMATICS - %
% --------------- %

  Systematic: "LUMI"
  Title: "Luminosity"
  Type: OVERALL
  Samples: all
  OverallUp: 0.021
  OverallDown: -0.021
  Category: Lumi
