%% weight Systematics

  Systematic: "weight_QCD_SCALE_MZ"
    Title: "weight_QCD_SCALE_MZ"
    Type: HISTO
    Samples: ZZ4l
    Regions: ZZ4l_CR, Zprime_SR
    NtuplePathsUp: "/data/zprime/ntuples_fit/1220-sys/{p_region}/tree_NOMINAL/mc16d"
    NtuplePathsDown: "/data/zprime/ntuples_fit/1220-sys/{p_region}/tree_NOMINAL/mc16d"
    NtupleFilesUp: "bkg_qcd"
    NtupleFilesDown: "bkg_qcd"
    NtupleNameUp: "ntup"
    NtupleNameDown: "ntup"
    Symmetrisation: TWOSIDED
    WeightUp: weight_qcd_scale_up_{p_qcd_var}*139/43.9
    WeightDown: weight_qcd_scale_down_{p_qcd_var}*139/43.9

  Systematic: "weight_QCD_SCALE_MZ"
    Title: "weight_QCD_SCALE_MZ"
    Type: HISTO
    Samples: Zprime
    Regions: ZZ4l_CR, Zprime_SR
    NtuplePathsUp: "/data/zprime/ntuples_fit/1220-sys/{p_region}/tree_NOMINAL/run2"
    NtuplePathsDown: "/data/zprime/ntuples_fit/1220-sys/{p_region}/tree_NOMINAL/run2"
    NtupleFilesUp: "sig_Zp{p_mass:03d}"
    NtupleFilesDown: sig_Zp{p_mass:03d}
    NtupleNameUp: "ntup"
    NtupleNameDown: "ntup"
    Symmetrisation: TWOSIDED
    WeightUp: weight_qcd_scale_up_{p_qcd_var}
    WeightDown: weight_qcd_scale_down_{p_qcd_var}


%% p4 Systematics

