  Systematic: "{p_sys_name}"
    Title: "{p_sys_name}"
    Type: HISTO
    Samples: {p_sample}
    Regions: ZZ4l_CR, Zprime_SR
    NtuplePathsUp: "{p_ntuple_path_up}"
    NtuplePathsDown: "{p_ntuple_path_down}"
    NtupleFilesUp: "{p_ntuple_files}"
    NtupleFilesDown: "{p_ntuple_files}"
    NtupleNameUp: "ntup"
    NtupleNameDown: "ntup"
    Symmetrisation: TWOSIDED
    WeightUp: {p_weight_str}
    WeightDown: {p_weight_str}

